input{
padding:10px
}
.mExpDate{
 position:absolute;
 top:200px;
 left:30px;
 width:10px
}
.mExpDate input{

 width:10px
}


.eExpDate{
position:absolute;
top:200px;
 left:80px;
 width:35px
}
.eExpDate input{
 width:35px
}
.eExpDate imput{
  width:10px
}
.cvv{
position:absolute;
top:160px;
left:480px;
}
.cvv input{
width:20px;
}
.CardNumber{
position:absolute;
top:100px;
left:50px;
}
.CardNumber input{
width:500px
}
.Amount{
position:absolute;
width:400px;
top:250px;
left:50px;
}
.Amount input{
width:400px;
}